<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title t-a-c form-heading" *ngIf="tabShow">Upload Weekly Menu</h5>
          <h5 class="title t-a-c form-heading" *ngIf="weeklymenuedit">Edit Weekly Menu</h5>
          <hr>
        </div>
      <div class="card-body">
        <ngx-spinner>
          <!-- <img src="assets/images/Pulse-1s-200px.gif" class="spinner-img"/> --> 
       </ngx-spinner>
        <mat-tab-group *ngIf="tabShow">
          <form #saveFile="ngForm">
          <mat-tab label="1'st Week">
              <br/> 
              <input type="file" #first_file="ngModel" name="first_file" [(ngModel)]="model.first_file"/>
              <div class="row w-100">
                  <button class="submit-btn" (click)="excelSave(1,saveFile)">Submit</button>
                  <button class="edit-btn" (click)="itemEdit(1)">Edit</button>
              </div>
          </mat-tab>

          <mat-tab label="2nd Week"> 
              <br/> 
              <input type="file" #second_file="ngModel" name="second_file" [(ngModel)]="model.second_file"/>
              <div class="row w-100">
                  <button class="submit-btn" (click)="excelSave(2,saveFile)">Submit</button>
                  <button class="edit-btn" (click)="itemEdit(2)">Edit</button>
              </div>
          </mat-tab>

          <mat-tab label="3rd Week"> 
              <br/> 
              <input type="file" #third_file="ngModel" name="third_file" [(ngModel)]="model.third_file"/>
              <div class="row w-100">
                  <button class="submit-btn" (click)="excelSave(3,saveFile)">Submit</button>
                  <button class="edit-btn" (click)="itemEdit(3)">Edit</button>
              </div>
          </mat-tab>

          <mat-tab label="4th Week"> 
              <br/> 
              <input type="file" #fourth_file="ngModel" name="fourth_file" [(ngModel)]="model.fourth_file"/>
              <div class="row w-100">
                  <button class="submit-btn" (click)="excelSave(4,saveFile)">Submit</button>
                  <button class="edit-btn" (click)="itemEdit(4)">Edit</button>
              </div>
          </mat-tab>
        </form>
        </mat-tab-group>
      </div>
      <div *ngIf="weeklymenuedit">
        <form #weeklyMenuEdit="ngForm">
        <table>
          <thead>
            <tr>
              <td></td>
              <td>Timing</td>
              <td>Monday</td>
              <td>Tuesday</td>
              <td>Wednesday</td>
              <td>Thursday</td>
              <td>Friday</td>
              <td>Saturday</td>
              <td>Sunday</td>
            </tr>
          </thead>
          <tbody *ngFor="let weeklyitemlist of weeklymenu">
            <tr >
              <td> 
                {{ weeklyitemlist.id }}
              </td>
              <td><input type="text" value="{{ weeklyitemlist.time }}" readonly></td>
              <td>
                <input type="text"   value="{{ weeklyitemlist.monday }}"
                name="monday"  id="monday"
                >
              </td>
              <td>
                <input type="text"   value="{{ weeklyitemlist.tuesday }}"
                >
              </td>
              <td><input type="text" value="{{ weeklyitemlist.wednesday }}"
              ></td>
              <td><input type="text" value="{{ weeklyitemlist.thursday }}"
              ></td>
              <td><input type="text" value="{{ weeklyitemlist.friday }}"
              ></td>
              <td><input type="text" value="{{ weeklyitemlist.saturday }}"
              ></td>
              <td><input type="text" value="{{ weeklyitemlist.sunday }}"
              ></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-3 col-lg-4 col-md-3"></div>
          <div class="col-3 col-lg-4 col-md-3">
            <button class="save-form-btn" (click)="weeklyMenuEditSave(monday)">Update</button>
          </div>
          <div class="col-3 col-lg-4 col-md-3"></div>
        </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>