<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title t-a-c form-heading">Add New Menu</h5>
          <hr>
        </div>
      <div class="card-body">
        <form #addNewMenu="ngForm" (ngSubmit)="saveNewMenu(addNewMenu)">
        <div class="row">
          <div class="col-2 col-lg-2 col-d-2"></div>
          <div class="col-4 col-lg-5 col-d-4">
            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Name</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="text" placeholder="&nbsp; Name"
                #menu_name="ngModel" name="menu_name" 
                [(ngModel)]="model.menu_name"/>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Canteen Time</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <select #menu_name="ngModel" name="menu_name" 
                [(ngModel)]="model.menu_name">
                  <option>--Select--</option>
                  <option *ngFor="let canteentime of canteentime">{{ canteentime.menu_name }}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Maximum Count</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="text" placeholder="&nbsp; Maximum Count"/>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Employee Amount</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="text" placeholder="&nbsp; Maximum Count"/>
                </div>
            </div>
          </div>
    
          <div class="col-5 col-lg-5 col-d-5">
            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Company Amount</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="text" placeholder="&nbsp; Company Count"/>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Contractor Amount</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="text" placeholder="&nbsp; Contractor Amount"/>
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-lg-4 col-md-3">
                <p>Chosse Image</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="file">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-lg-4 col-md-3"></div>
          <div class="col-3 col-lg-4 col-md-3 row">
            <button class="save-form-btn" type="submit">Save</button>
            <button class="cancel-form-btn" (click)="close()">Cancel</button>
          </div>
        <div class="col-3 col-lg-4 col-md-3"></div>
        </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>