:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  top: -10px;
  text-align: start;
  padding: 0px 25px;
}
:host ::ng-deep label span {
  color: black !important;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  height: 40px !important;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 21px;
  box-shadow: 2px 5px 11px 6px #c7c7c7;
  font-family: FontAwesome;
}
/* label{
  padding: 10px;
  background: #d02918; 
  display: table;
  color: #fff;
  width: 65%;
} */
input[type="file"] {
    display: none;
}
input [type=checkbox] {
  margin: 12px !important;
}