<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title t-a-c form-heading">MenuManagement</h5>
          <hr>
        </div>
      <div class="card-body">
        <!-- <div class="row">
          <div class="col-2 col-lg-3 col-d-2"></div>
          <div class="col-4 col-lg-6 col-d-4">
            <div class="canteen-box">
              <div class="canteentime-container p-t-20 p-b-20 m-l-auto m-r-auto">
                <h3>Menu Name :</h3>
                <select [(ngModel)]="selectedValue" (change)="menusShow(selectedValue)" aria-placeholder="bob">
                  <option>--select Menu--</option>
                   <option *ngFor="let menulist of menuList">{{  menulist.id }}</option> 
                  <option >tea time -1</option>
                </select>
              </div>
              <h3 class="menu_title">Menu List :</h3>
              <div class="special-lunch-box">
                <div class="special-container" *ngIf="menusView"><br/>
                  <input type="checkbox">&nbsp;&nbsp; 
                  <lable>Fish</lable><br/>

                  <input type="checkbox">&nbsp;&nbsp; 
                  <lable>Mutton</lable><br/>

                  <input type="checkbox">&nbsp;&nbsp;
                  <lable>Chicken Biriyani</lable><br/>

                  <input type="checkbox">&nbsp;&nbsp;
                  <lable>Mutton Biriyani</lable><br/>

                  <input type="checkbox">&nbsp;&nbsp;
                  <lable>Fish Biriyani</lable>
                </div>
              </div>
              <br/>
              <div *ngIf="menusView">
                <button class="save-form-btn" style="width: 35% !important;">Save</button>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <div class="col-3 col-lg-3 col-d-3"></div> -->
        <!--Employee Table start-->
        <h2>Employee</h2>
        <div class="example-container mat-elevation-z8">
          <table mat-table #hBtable [dataSource]="dataSource1" matSort>
              <ng-container matColumnDef="menuname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Name </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.menu_name }}
                  </td>
              </ng-container>
              <ng-container matColumnDef="itemname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.item_name }}
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row [ngClass]="table - row" tabindex="1" *matRowDef="let row; columns: displayedColumns1"
              ></tr>
          </table>
          <mat-paginator #sort [pageSize]="5"[hidePageSize]="true"></mat-paginator>
        </div>
        <!--Employee Table end-->
        <hr>
        <br/>
        <!--Contractor table start-->
        <h2>Contractor</h2>
        <div class="example-container mat-elevation-z8">
          <table mat-table #hBtable [dataSource]="dataSource2" matSort>
            <ng-container matColumnDef="menuname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Name </th>
              <td mat-cell *matCellDef="let row">
              {{ row.menu_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="itemname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
              <td mat-cell *matCellDef="let row">
              {{ row.item_name }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row [ngClass]="table - row" tabindex="1" *matRowDef="let row; columns: displayedColumns2"
            ></tr>
          </table>
          <mat-paginator #sort [pageSize]="5"[hidePageSize]="true"></mat-paginator>
        </div>
        <!--COntractor table end-->
      </div>
      </div>
    </div>
  </div>
</div>