<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title t-a-c form-heading">Special Lunch</h5>
          <hr>
        </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2 col-lg-2 col-d-2"></div>
          <div class="col-5 col-lg-5 col-d-5">
            <div class="row">
              <div class="col-6 col-lg-4 col-md-6">
                <p>Date</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <input type="date" />
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-lg-4 col-md-6">
                <p>Department</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <select>
                  <option>--Select--</option>
                  <option>Manager</option>
                  <option>Cleaner</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-lg-4 col-md-6">
                <p>No Of Person</p>
              </div>
              <div class="col-6 col-lg-6 col-md-6">
                <select>
                  <option>--No Of Person--</option>
                  <option>Manager</option>
                  <option>Cleaner</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-5 col-lg-5 col-d-5">
            <div class="special-lunch-box"><br/>
              <div class="special-container">
              <input type="checkbox">&nbsp;&nbsp; 
              <lable>Fish</lable><br/>

              <input type="checkbox">&nbsp;&nbsp; 
              <lable>Mutton</lable><br/>

              <input type="checkbox">&nbsp;&nbsp;
              <lable>Chicken Biriyani</lable><br/>

              <input type="checkbox">&nbsp;&nbsp;
              <lable>Mutton Biriyani</lable><br/>

              <input type="checkbox">&nbsp;&nbsp;
              <lable>Fish Biriyani</lable>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <br/><br/>
        <button class="save-form-btn">Save</button>
      </div>
      </div>
    </div>
  </div>
</div>