<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title t-a-c form-heading">Add Category</h5>
          <hr>
        </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4 col-lg-4 col-d-4"></div>
          <div class="col-4 col-lg-4 col-d-4">
            <div class="canteen-box">
              <div class="canteentime-container p-t-20 p-b-20 m-l-auto m-r-auto">
                <input type="text" placeholder="Enter Category" />
              </div>
              <button class="save-form-btn" style="width: 35% !important;">Save</button>
              <br/>
            </div>
          </div>
          <div class="col-4 col-lg-4 col-d-4"></div>
        </div>
      </div> 
      </div>
    </div>
  </div>
</div>
