/* table css */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    border: 1px solid #ccc;
    width: 20%;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  thead {
      background: #0743ca;
      color: #ffffff;
  }
  .add-btn {
      color: #ffffff;
      background: #003abb;
      top: 22%;
      width: 90% !important;
  }
  /* table css end */
  .action-align {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text] {
    /* border: 1px solid #ccc !important; */
    border: none !important;
    text-align: center;
    background: transparent;
  }