mat-form-field {
    margin-right: 12px;
}
.background {
    background-color: #0a3beffc;
    width: 120px;
    margin: 0px 3px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
.scroll {
    overflow: scroll;
}
.date-align {
    margin-top: 8px;
    height: 32px;
}
