mat-form-field {
    margin-right: 12px;
}
.background {
    background-image: linear-gradient(to bottom right, #0098e4, #003ba0);
    width: 120px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }
  thead{
    background: #e8e6e6;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
.scroll {
    overflow: scroll;
}
.date-align {
    margin-top: 8px;
    height: 32px;
}
