mat-form-field {
    margin-right: 12px;
}
.background {
    background-color: #0a3beffc;
    width: 120px;
    margin: 0px 3px;
}
table {
    width: 100%;
    border: 1px solid;
    overflow: scroll;
}
table th,td {
    border: 1px solid;
}
.scroll {
    overflow: scroll;
}